body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    font-family: cursive;
    width: 100%;
    margin: 0px;
}

#start , #number_of_objects , #status{
    font-size: 18px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 3;
    background-color: purple;
    color: aquamarine;
    text-align: center;
    font-family: cursive;
}

canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}